language: c
sudo: false

#branches:
#  except:
#    - 0.1.2

env:
  global:
# The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
# via the "Travis encrypt" command using the project repository's public key
    - secure: "mTqn44XSHfP9wzBOAP2W14k3c6lkE9LFGF1BYIBhg6FgzF0Ywev+yUAG4CsneGzQDRDElK+382/KsUCD7EyBD1KE8kH3viSABJeRJtGG0ZBbt9Ptsd9qbpFpH3+gP5esiHw+8VpA/78ojuCLAiFOV3sHNycKAG+s+9Tiporesdw="

addons:
  apt:
    packages:
    - binutils-mingw-w64-i686
    - gcc-mingw-w64-i686
  coverity_scan:
    project:
      name: "AOSC-Dev/Anthon-Starter"
      description: "Build submitted via Travis CI with coverity_scan"
    notification_email: liushuyu_011@163.com
    build_command_prepend: "make clean && cov-configure --template --comptype gcc --compiler i686-w64-mingw32-gcc"
    build_command: "autoreconf -fis; ./configure --target=i686-w64-mingw32 && make"
    branch_pattern: 0.2.0-devel
#   build_script_url: "https://raw.githubusercontent.com/liushuyu/DraftBin/master/scan_script.sh"
script:
  - |
    if [ "${COVERITY_SCAN_BRANCH}" != 1 ]; then
      autoreconf -fis -Wall;
      ./configure --target=i686-w64-mingw32-gcc;
      make -e RES=i686-w64-mingw32-windres -k;
    fi
# - if [ "${COVERITY_SCAN}" = 1 ]; then eval "$COVERITY_SCAN_BUILD"; else eval "$STANDARD_BUILD_COMMAND"; fi
