language: c
compiler:
  - gcc
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install binutils-mingw-w64-i686 gcc-mingw-w64-i686
  - mkdir build
env:
  global:
   # The next declration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "mTqn44XSHfP9wzBOAP2W14k3c6lkE9LFGF1BYIBhg6FgzF0Ywev+yUAG4CsneGzQDRDElK+382/KsUCD7EyBD1KE8kH3viSABJeRJtGG0ZBbt9Ptsd9qbpFpH3+gP5esiHw+8VpA/78ojuCLAiFOV3sHNycKAG+s+9Tiporesdw="
   
addons:
  coverity_scan:
    project:
      name: "AOSC-Dev/Anthon-Starter"
      description: "Build submitted via Travis CI with coverity_scan"
    notification_email: liushuyu_011@163.com
    build_command_prepend: "cov-configure --comptype gcc --compiler /usr/bin/i586-mingw32msvc-gcc"
    build_command: "make -j4 -e CC=i686-w64-mingw32-gcc LD=i686-w64-mingw32-ld RES=i686-w64-mingw32-windres"
    branch_pattern: 0.2.0-devel
    build_script_url: "https://raw.githubusercontent.com/liushuyu/DraftBin/master/scan_script.sh"
    
    
notifications:
  irc:
    channels:
      - "chat.freenode.net#anthon"
    template:
      - "%{repository_slug}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    use_notice: true
    
    
    
script:
  - make -j2 -e CC=i686-w64-mingw32-gcc LD=i686-w64-mingw32-ld RES=i686-w64-mingw32-windres    
 # - if [ "${COVERITY_SCAN}" = '1' ]; then eval "$COVERITY_SCAN_BUILD"; else eval "$STANDARD_BUILD_COMMAND"; fi
 #build_script_url
